# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# GOOGLE_CLIENT_ID: Your Google OAuth Client ID
# GOOGLE_CLIENT_SECRET: Your Google OAuth Client Secret
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
